.opening-times {
    width: auto !important;
}

.opening-times td {
    border: none !important;
    padding: 0 !important;
    padding-bottom: 20px !important;
}

.btn .button.btn{
    margin: none !important;
    padding: 0 !important;
}