h1 {
  text-align: center;
}

.container {
  width: 600px;
  margin: auto;
}

.grid td {
  width: 80px;
  height: 50px;
  padding: 15px 30px;
  border: 2px solid rgb(3, 115, 167);
  text-align: left;
  float: left;
  margin: 5px;
  color: #fff;
}

.grid td:hover {
  opacity: .7;
  cursor: pointer;
}

.reserved {
  background: rgb(3, 115, 167);
  color: #fff;
  display: inline-block;
}

.available {
  color: #333;
}

li {
  list-style: none;
}