h1 {
  text-align: center;
}

.container {
  width: 600px;
  float: center;
  margin: auto;
}

.grid td {
  width: 15%;
  height: 50px;
  padding: 15px 30px;
  border: 2px solid rgb(3, 115, 167);
  text-align: center;
  float: left;
  margin: 5px;
  color: #fff;
}

.grid td:hover {
  opacity: .7;
  cursor: pointer;
}

@media (max-width: 800px){
.grid td {
  width: 13%;
}
}

.reserved {
  background: rgb(3, 115, 167);
  color: #fff;
  display: inline-block;
}

.available {
  color: #333;
}

.unavailable {
  background: rgb(97, 97, 97);
  border: 2px solid rgb(218, 218, 218);
  color: #888;
}

li {
  list-style: none;
}